body,
html {
    margin: 0;
    padding: 10px;
    background-color: #1a1a1a;
    margin-bottom: 10px;
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.carousel-inner {
    width: 100%;
    height: 30vh;
    /* position: relative; */
    border: 3px solid gray;
    box-sizing: border-box;
    overflow: hidden;
}

.carousel-inner .carousel-item {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    box-sizing: border-box;
}

.carousel-inner .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/* MEDIA QUERY FOR LARGE SCREENS */
@media (min-width:1000px) {

    body,
    html {
        margin: 0;
        padding: 10px;
        background-color: #1a1a1a;
        margin-bottom: 10px;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }

    .carousel-inner {
        width: 100%;
        height: 30vh;
        position: relative;
        overflow: hidden;
        border: 2px solid gray;
        box-sizing: border-box;
    }

    .carousel-item {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    /* .image1 {
        top: -130%;
    } */

    /* .image2 {
        top: -70%;
    } */

    /* .image3 {
        top: -160%;
    } */
}


.cards-container {
    height: 320px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    padding: 20px;
}

.card-body {
    display: flex;
    justify-content: center;
    background-position: center;
    align-items: flex-end;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    background-color: #1a1a1a;
    border: 3px solid gray;
    box-sizing: border-box;
}

.card1 .card-body {
    background-image: url("https://i.ytimg.com/vi/sscX432bMZo/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLDBd2ycURKkXkiW6AO00Ss5HpG0BQ");
}

.card2 .card-body {
    background-image: url("https://i.ytimg.com/vi/c8Z73cVl6x4/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLBW9kVUcWR2J4TQ7slnLaAGmLDqSw");
}

.card3 .card-body {
    background-image: url("https://i.ytimg.com/vi/v9bOWjwdTlg/hqdefault.jpg?sqp=-oaymwEnCNACELwBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLDmMpcqVBa_LsXUVO8oLpsgDv_JIQ");
}


@media (max-width: 1023px) {

    body,
    html {
        margin: 0;
        padding: 10px;
        background-color: #1a1a1a;
        margin-bottom: 10px;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }

    .cards-container {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .card-body {
        height: 200px;
        width: 100%;
    }

    .card1 .card-body,
    .card2 .card-body,
    .card3 .card-body {
        background-size: cover;
    }
}